* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	font-family: Raleway, sans-serif;
	font-weight: 600;
}

.container {
	max-width: 1000px;
	width: 100%;
	margin: 20px auto 0 auto;
}
@media(600px){
	.container {
		margin-top: -8em;
	}
}
/*NAVBAR STYLES*/
header {
  position: fixed;
  width: 100%;
}
h1 {
	font-family: Lato, sans-serif;
	margin-top: 3px;
}
ul {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-end;
	background-color: #C3C3C3;
}
li#brand-header {
	display: flex;
	flex-direction: row;
	margin: .5em;
	margin-right: auto;
}

li.navlink {
	margin: .5em;
	margin-right: 2em;
	margin-top: auto;
	margin-bottom: auto;
}
li a {
	color: black;
	padding: 1em;
}
li a:hover {
	background-color: white;
}
img#header-img {
	max-width: 50px;
	max-height: 50px;
	margin-top: -10px;
	margin-right: 1em;
	margin-left: 1em;
}
@media (max-width: 600px) {
	ul {
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 100%;
	}
	li#brand-header {
		margin-left: auto;
	}
	li a {
		padding: 0;
		display: block;
		width: 100vh;
		margin-bottom: 4px;
	}
}

/*EMAIL STYLES*/
#form-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 310px;
}

h2{
	margin-bottom: 20px;
}
#form input[type="email"] {
	width: 100%;
	max-width: 275px;
	padding: 5px;
	border-radius: 0.5em;
	font-family: inherit;
	outline: none;
	font-size: 1em;
}
#form input[type="submit"] {
	max-width: 150px;
	width: 100%;
	height: 30px;
	margin: 15px 0;
	border: 0;
	color: white;
	background-color: #161616;
	font-size: 0.9em;
	cursor: pointer;
}
@media(max-width: 600px) {
	#form-section {
		height: 500px;
	}
}

/*FEATURES STYLES*/
#features {
	margin: 0 20%;
	margin-top: -4em;
}
@media(max-width: 600px) {
	#features {
		margin: 0 auto;
		margin-top: -6em;
	}
}
.icon-img {
	max-width: 50px;
	margin-right: 1em;
}
@media(max-width: 600px) {
	.icon-img {
		margin-left: 6px;
	}
}

.grid {
	display: flex;
	justify-content: flex-start;
}
.desc {
    height: 125px;
    padding: 5px;
}
h3 {
	margin-bottom: 0.9em;
}

/*HOW-IT-WORKS STYLES*/
	section#how-it-works{
		margin-top: 20px;
		display: flex;
		justify-content: center;
	}
	iframe {
		margin-bottom: 50px;
	}
	
/*PRICING STYLES*/
section#pricing {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border: black 1px solid;
	background-color: #D6D6D6;
	border-radius: 4px;
	width: 15em;
	margin: 0 20px;
}

.level {
	width: 100%;
	padding: 15px 0;
	font-weight: 700;
	background-color: #C4C4C4;
	text-transform: uppercase;
	border-radius: 4px;
}
h4 {
	margin-top: 14px;
	font-size: 2em;
}
ol {
	margin: 10px 10px;
	font-weight: 400;
}
li {
	margin-bottom: 20px;
}
li.last {
	margin-bottom: 0px;
}
.btn {
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 1em;
	width: 100%;
	max-width: 100px;
	cursor: pointer;
	color: white;
	background-color: black;
	border: 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
}
@media(max-width: 600px){
	.product {
		width: 100%;
		margin-bottom: 20px;
	}
}

/*FOOTER STYLES*/
footer {
	margin: 50px 0 0 0;
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	background-color: #C3C3C3;
}
ul#ul-footer {
	margin-bottom: -15px;
}
ul#ul-footer li a{
	padding: 0;
	margin-right: 10px;
}
ul#ul-footer li a:hover {
	background-color: #C3C3C3;
}
span#copyright {
	font-weight: 400;
	font-size: 0.9rem;
}
div#icons {
	font-weight: 400;
	font-size: 0.9rem;
	margin-top: 5px;
	}
a#smashicons {
	color: black;
	font-weight: 600;
}
@media(max-width: 600px){
	footer {
		align-items: center;
	}
}